@charset "UTF-8";

.title{
    background-color: #f7f7f7;
    padding:0 30px;
}
.title > div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
    max-width: 1250px;
    margin:0 auto;
    word-break:keep-all;
}
.title > div > img{
    width:550px;
}
.tab{
    display:flex;
    align-items: center;
    padding: 8rem 30px;
    justify-content: center;
}
.tab>div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    max-width: 1200px;
    width:100%;
}
.img-container{
    height:44vw;
    width:44vw;
    max-width:550px;
    max-height:550px;
    min-width: 350px;
    min-height: 350px;
    display:none;
}
.tab > div > .active{
    display:block;
}
.img-container>div{
    width:100%;
    height:100%;
    overflow:hidden;    
    margin:0 auto;
    border-radius : 10px;
}
.img-container div > div{
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.item{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.slick>div{width:100%;height:100%;}

.tab-menu{
    display:flex;
    flex-direction: column;
    gap:40px;
    width:540px;
    height:390px;
    justify-content: space-between;
}
.tab-menu ul{
    display: inline-flex;
    gap: 72px;
}
.tab-menu ul li{
    white-space: nowrap;
    height: 65px; width:65px;
    padding:5px; 
    border-radius:50%;
    font-family: 'Interop';
    font-size:1.75rem;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.28s ease-in;
}
.checked{
    background-color: var(--maincolor);
    font-weight: 600;
}
.tab-contents span{
   font-family: "Interop";
   font-size: 1.75rem;
   word-break:keep-all;
}
.tab-contents>div{
    display:none;
}
.tab-contents>.on{
    display:flex;
    flex-direction: column;
    gap:60px;
    -webkit-animation: slide-in-bottom 0.5s ease-out forwards;
	animation: slide-in-bottom 0.5s ease-out forwards;
}


/* Animation */
@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }

}

@media screen and (max-width:1040px){
    html{font-size:14px;}
}