@charset "UTF-8";

.header-content {
    background-image: url("../img/40.jpg");
}

.fixbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    padding: 20px 0;
}

.bar_text {
    margin-left: 150px;
}

.content_bar ul {
    font-family: 'IBMPlexSans';
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.content_bar ul li {
    margin: 0 15px;
    font-family: 'Interop';
    font-size: 1.19rem;
    white-space: nowrap;
}

.content_bar ul li::after {
    font-size: 27px;
    font-weight: 500;
    content: '|';
    color: #d8d8d8;
    padding: 0em 1em 0 2em;
}

.content_bar ul li:last-child::after {
    content: '';
}

.content_bar span {
    display: inline-block;
}

.content_bar ul li span:hover {
    transform: scale(1.07);
    transition-duration: 0.2s;
    color: #133E87;
}

.bar_hr {
    height: 7px;
    background-color: #D9D9D9;
    border: 0;
}

.cost1 {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
    margin: 0 auto;
    max-width: 1400px;
    word-break: keep-all;
    padding-left: 30px;
    padding-right: 30px;
}

.cost1 table {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Interop';
    font-size: 23px;
    max-width: 1000px;
    margin: 0 auto;
}

.cost1 table th {
    background-color: #f0f0f0;
}

.cost1 table th, td {
    border: 1px solid #b9b9b9;
    height: 50px;
}

.cost1 table td {
    font-size: 20px;
    font-family: 'Interop';
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
}

.cost1 .extra-cost-table {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Interop';
    font-size: 23px;
    border: 1px solid #b9b9b9;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-left: 28%;
}

.cost1 .extra-cost-table th {
    background-color: #f0f0f0;
    border: 1px solid #b9b9b9;
}

.cost1 .extra-cost-table th, .extra-cost-table td {
    padding: 10px;
    height: 50px;
}

.cost1 .extra-cost-table td {
    font-size: 20px;
}

.main_text_l {
    margin-right: 120px;
    width: 250px;
    font-family: 'Interop';
    font-size: 1.75rem;
}

.small_text {
    font-size: 15px;
    font-weight: lighter;
}

.sub_text_l {
    color: #7f7f7f;
    width: 250px;
    margin-right: 120px;
    font-family: 'Interop';
    font-size: 1.5rem;
}

.qna {
    background-color: #ffffff;
    width: calc(100% - 60px);
    max-width: 1400px;
    margin: 0 auto;
    padding: 5rem 30px;
    word-break: keep-all;
    box-sizing: border-box;
}

.main_text_q {
    margin-bottom: 60px;
}

.qna table {
    width: 100%;
    text-align: left;
    font-family: 'Interop';
    font-size: 23px;
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.qna table th, td {
    padding: 10px;
}

.q {
    background-color: #D9D9D9;
}

.a {
    background-color: #F2F2F2;
}

.qna table th {
    width: 5%;
    text-align: right;
    font-family: 'Interop';
    font-size: 1.75rem;
}

.qna table td {
    font-family: 'Interop';
    font-size: 1.5rem;
}

.title_text {
    font-family: 'IBMPlexSans';
    font-size: 3rem;
}

.empty_table {
    margin-left: auto;
}

.sub_text_small {
    font-family: 'Interop';
    font-size: 1.19rem;
    color: #7f7f7f;
}

.calculator {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    margin-top: 60px;
    font-family: 'Interop';
    font-size: 1rem;
    max-width: 1000px;
}

.input-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
}

.charge_calculator {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fefefe;
    width: 100%;
    max-width: 1000px;
    font-size: 20px;
    margin: 0 auto;
    font-family: 'Interop';
    font-size: 30px;
}

.c_title {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #444;
    font-family: 'Interop';
    font-size: 1.5rem;
    text-align: center;
}

.c_text {
    font-family: 'Interop';
    font-size: 20px;
}

#datepicker {
    font-size: 18px;
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
}

#floating-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    left: 95%;
    bottom: 125px;
    background-color: #FBF73F;
    border-radius: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    width: 70px;
    height: 70px;
    overflow: hidden;
    z-index: 1;
}

#floating-button span {
    display: block;
    word-break: keep-all;
    white-space: nowrap;
}

#floating-button:hover {
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 6px 16px rgba(0, 0, 0, 0.12) !important;
    transform: translateX(-50%) scale(1.04);
}

p {
    margin-bottom: 30px;
}