@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KCC-Hanbit';
    background: url(GameScreen_BackGround.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 3vh;
}

.round {
    display: flex;
    position: absolute;
    z-index: 1;
    background-color: #323d58;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18vh;
    overflow: hidden;
    transform: translate(0%, -100%);
}

.round span {
    top: 50%;
    font-size: 10vh;
    transform: translate(-100vw, 0);
}

.top-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.back-button {
    align-self: flex-start;
    background: none;
    margin-top: 4vh;
    border: none;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

.score-board {
    font-size: 5vh;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item-container {
    height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    background-color: #323d58;
    border-radius: 10px;
}
  
  .item-text {
    font-size: 3vh;
    margin-bottom: 20px;
}
  
  .items {
    width: 10vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 2vh;
}
  
  .item {
    background-color: #f0f0f0;
    color: #323d58;
    border-radius: 10px;
    aspect-ratio: 4 / 3; /* 3:4 비율을 유지 */
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: auto;
        padding: 5vw;
    }

    .back-button {
        align-self: flex-start;
        background: none;
        margin-top: 5vw;
        border: none;
        color: white;
        font-size: 3vw;
        cursor: pointer;
    }

    .score-board {
        font-size: 7vw;
    }

    .game-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
    }

    .item-container {
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vw;
        background-color: #323d58;
        border-radius: 10px;
    }
      
      .item-text {
        font-size: 6vw;
        margin-bottom: 2vw;
    }
      
      .items {
        width: auto;
        height: 10vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        gap: 2vw;
    }
      
      .item {
        background-color: #f0f0f0;
        color: #323d58;
        border-radius: 8px;
        aspect-ratio: 4 / 3; /* 3:4 비율을 유지 */
    }
}