/*화면 전체*/
body {
    background: url('photo/background.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
}

/*별*/
.stars {
    font-family: 'KCC-Hanbit';
    position: relative;
    font-size: 8.8vw;
    color: yellow;
    margin-top: 2vw;
    
}

.star1{
    position: absolute;
    top: 6vw;
    left: 15vw;

}
.star2{
    position: absolute;
    top: 2vw;
    left:27vw;

}

.star3{
    display: flex;
    justify-content: center;
}

.star4{
    position: absolute;
    top: 2vw;
    right: 27vw;
}
.star5{
    position: absolute;
    top: 6vw;
    right: 15vw;
}


/*제목*/
h1 {
    font-family: 'ONE Mobile POP OTF';
    font-size: 5vw;
    color: yellow;
    margin: 2vw 0;
}

/*점수 판*/
.name {
    font-family: 'KCC-Hanbit';
    color: #fff;
    font-size: 3vw;
}
.score {
    font-family: 'KCC-Hanbit';
    color: #fff;
    font-size: 2vw;
}

/*메인화면으로 이동 버튼*/
button {
    font-family: 'KCC-Hanbit';
    box-sizing: border-box;
    width: 40vw;
    height: 4.54vw; 
    font-size: 32px;
    color: white;
    text-align:center;;
    margin: 3vw; 
    
    border: rgb(235, 236, 239);
    border-radius: 20px;
    outline: 1px solid rgb(235, 236, 239);
    background-color: rgba(235, 236, 239, 0.4);
    font-family: 'KCC-Hanbit';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    color: white;
        
}

/*곰 일러스트 위치*/
.astronaut-bear {
    position: relative;
    bottom: 17vw;

    width: 10vw;
    height: auto;
    margin-left: 80vw;
    z-index : 2; 
}
/*달 일러스트 위치*/
.moon {
    position: absolute;
    top: 40vw;
    margin-left: 53vw;
    z-index : 1; 
}



