
.outer {
    text-align: center; 
    margin-top: 20px;
}

.outer a {
    display: inline-block;
    text-align: center; 
    margin: 0 30px; 
    text-decoration: none;
    color: black;
}

.outer a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.2rem; /* 이미지와 텍스트 간격 */
}

.outer a h5 {
    font-family: 'Interop';
    margin: 0;
    font-size: 1.2rem;
}
.outer a:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
    color: #133e87;
}

.tabs {
    margin-top: 5rem; 
    text-align: center; 
}

.tab {
    display: none; 
}

.tab.active {
    display: block; /* 활성화된 탭만 보이기 */
}

.tab img {
    width: 100%; 
    max-width: 700px; 
    height: 400px; 
    object-fit: cover;
    margin: 0 auto;
    display: block; 
    border-radius: 10px;
}

/* 텍스트 가이드 스타일 */
.con3 {

    margin: 25px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.text_guide {
    width: 800px;
    height: 500px;
    border: 6px solid gray;
    padding: 20px;
    margin-bottom: 20rem;
}

.text_guide h4 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.text_guide li h6 {
    margin-top: 2rem;
    margin-left: 2rem;
}

.text_guide .ul2 {
    margin-top: 4rem;
    margin-left: 0.5rem;
}

.blue {
    color: #133e87;
}
/*slick 버튼 스타일*/
.slick-next,
.slick-prev {
    z-index: 10;
}
.slick-next:before,
.slick-prev:before {
    font-size: 40px !important;
    color: #333 !important;
}

.slick-prev {
    left: 450px  !important ; 
}


.slick-next {
    right: 465px  !important ;
}